In [1]:
import pandas as pd
import os
os.chdir('../')

In [2]:
df = pd.read_csv('data/combined_articles_recommendations.csv')

In [6]:
df.head(2)

,uuid,byline,title,lead_text,creation_date,last_modified,tags,url,body_text,related_articles,...,creation_time,number_cleaned_related_articles,all_text,full_text_embeddings,recommendations results,recommendations,ground truth,Recall@5,Precision@5,MAP@5
0,TV2-15394074,"['Jack Theetha', 'Hege Skorpen Olsen', 'Sophie...",– Hun er vår tids største kvinnesakskvinne,GOD MORGEN NORGE (TV 2): Nå blir avdøde Shaban...,2023-01-02 10:35:26+00:00,2023-01-02 23:26:33+00:00,"['shabana rehman', 'mullaløft', 'bjørn egil ha...",https://www.tv2.no/nyheter/innenriks/hun-er-va...,Torsdag ettermiddag kom den rystende beskjeden...,"['TV2-14136242', 'TV2-1083460', 'TV2-15036820'...",...,1.672656e+09,1,– Hun er vår tids største kvinnesakskvinne \n ...,"[0.05645430460572243, 0.011502300389111042, -0...","[(10, 'TV2-15394074', 'TV2-15237542', 0.708694...","['TV2-15237542', 'TV2-15186618', 'TV2-14485687...",['TV2-14136242'],0.0,0.0,0.0
1,TV2-14496910,['Fabian Magdalon Palmstrøm Throndsen'],Leo (18) fikk sin Premier League-debut i råste...,Norsk debutant og Harrison-hat trick i intenst...,2022-01-16 14:17:19+00:00,2022-08-26 07:24:58+00:00,"['fotball', 'leo-hjelde', 'west-ham', 'sport',...",https://www.tv2.no/sport/fotball/premier-leagu...,West Ham - Leeds 2-3Jack Harrison vartet opp m...,['TV2-13941300'],...,1.642343e+09,1,Leo (18) fikk sin Premier League-debut i råste...,"[-0.023296138271689415, 0.00929294154047966, -...","[(8, 'TV2-14496910', 'TV2-11984725', 0.7383826...","['TV2-11984725', 'TV2-11945076', 'TV2-13935918...",['TV2-13941300'],0.0,0.0,0.0

In [7]:
import pandas as pd
from scrape import get_image_src

# Create a new column 'image_src' by applying the get_image_src function
df['image_src'] = df['uuid'].apply(get_image_src)

# Save the updated DataFrame back to a CSV file
df.to_csv('data/combined_articles_with_images.csv', index=False)

print("Image sources have been added to the CSV file.")

Image sources have been added to the CSV file.